$gradients: () !default;
$gradients: map-merge((
    chill: linear-gradient(135deg, #b8ba3e 0%,#0f8541 100%),
    warm: linear-gradient(135deg, #f79b2e 0%,#e7c63b 100%),
    hot: linear-gradient(135deg, #de331d 0%,#f18629 100%),
    cold: linear-gradient(135deg, #007f42 0%,#2c8aa2 100%)
), $gradients);

@function gradient($name) {
  @return map-get($gradients, $name);
}

@mixin border-gradient($gradientName) {
  border: 20px solid transparent;
  border-width: 4px;
  border-style: solid;
  border-image: gradient($gradientName);
  border-image-slice: 1;
}

@mixin bg-gradient($gradientName) {
  background: gradient($gradientName);
}

@mixin text-gradient($gradientName) {
  background-image: gradient($gradientName);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
