@import "colours";

$gradients: () !default;
$gradients: map-merge((
    cold: linear-gradient(135deg, $colour-olive 0%,$colour-blue 100%),
    chill: linear-gradient(135deg, $colour-green 0%, $colour-olive 100%),
    mid: linear-gradient(135deg, $colour-yellow 0%, $colour-green 100%),
    warm: linear-gradient(135deg, $colour-orange 0%,$colour-yellow 100%),
    hot: linear-gradient(135deg, $colour-red 0%, $colour-orange 100%),
    rainbow: linear-gradient(135deg, $colour-red 0%, $colour-orange 20%, $colour-yellow 40%, $colour-green 60%, $colour-olive 80%, $colour-blue 100% )
), $gradients);

@function gradient($name) {
  @return map-get($gradients, $name);
}

@mixin border-gradient($gradientName) {
  border: 20px solid transparent;
  border-width: 4px;
  border-style: solid;
  border-image: gradient($gradientName);
  border-image-slice: 1;
}

@mixin bg-gradient($gradientName) {
  background: gradient($gradientName);
}

@mixin text-gradient($gradientName) {
  background-image: gradient($gradientName);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
