@import "colours";

$gradients: () !default;
$gradients: map-merge((
    cold: linear-gradient(135deg, $colour-olive 0%,$colour-blue 100%),
    chill: linear-gradient(135deg, $colour-green 0%, $colour-olive 100%),
    mid: linear-gradient(135deg, $colour-yellow 0%, $colour-green 100%),
    warm: linear-gradient(135deg, $colour-orange 0%,$colour-yellow 100%),
    hot: linear-gradient(135deg, $colour-red 0%, $colour-orange 100%),
    hotHalf: linear-gradient(135deg, $colour-red 0%, $colour-orange 50%,$colour-yellow 100%),
    coldHalf: linear-gradient(135deg, $colour-yellow 0%, $colour-green 50%, $colour-blue 100%),
    rainbow: linear-gradient(135deg, $colour-red 0%, $colour-orange 25%, $colour-yellow 45%, $colour-green 65%, $colour-olive 75%, $colour-blue 100%)
), $gradients);

@function gradient($name) {
  @return map-get($gradients, $name);
}

@mixin border-gradient($gradientName) {
  border: 20px solid transparent;
  border-width: 4px;
  border-style: solid;
  border-image: gradient($gradientName);
  border-image-slice: 1;
}

@mixin bg-gradient($gradientName) {
  background: gradient($gradientName);
}

@mixin text-gradient($gradientName) {
  background-image: gradient($gradientName);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@mixin text-gradient-fade($gradientName) {
  @include text-gradient($gradientName);
  @include fade-animation();
}

@mixin bg-gradient-fade($gradientName) {
  @include bg-gradient($gradientName);
  @include fade-animation();
}

@mixin fade-animation() {
  background-size: 200% 200%;
  -webkit-animation: bgGradientFade 10s ease infinite;
  -moz-animation: bgGradientFade 10s ease infinite;
  animation: bgGradientFade 10s ease infinite;
}

@-webkit-keyframes bgGradientFade {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bgGradientFade {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bgGradientFade {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
