@import "colours";
@import "shapes";

$gradients: () !default;
$gradients: map-merge((
    cold: linear-gradient(135deg, $colour-olive 0%,$colour-blue 100%),
    chill: linear-gradient(135deg, $colour-green 0%, $colour-olive 100%),
    mid: linear-gradient(135deg, $colour-yellow 0%, $colour-green 100%),
    warm: linear-gradient(135deg, $colour-orange 0%,$colour-yellow 100%),
    hot: linear-gradient(135deg, $colour-red 0%, $colour-orange 100%),
    hotHalf: linear-gradient(135deg, $colour-red 0%, $colour-orange 50%,$colour-yellow 100%),
    coldHalf: linear-gradient(135deg, $colour-yellow 0%, $colour-green 50%, $colour-blue 100%),
    rainbow: linear-gradient(135deg, $colour-red 0%, $colour-orange 25%, $colour-yellow 45%, $colour-green 65%, $colour-olive 75%, $colour-blue 100%),
    verticalProgress: linear-gradient(180deg, $colour-red 0%,$colour-green 100%),
    progress1: linear-gradient(0deg, $colour-red 0%, $colour-orange 100%),
    progress2: linear-gradient(0deg, $colour-orange 0%, $colour-yellow 100%),
    progress3: linear-gradient(135deg, $colour-yellow 0%, $colour-green 100%),
    progress4: linear-gradient(135deg, $colour-green 0%, $colour-olive 100%),
), $gradients);

@function gradient($name) {
  @return map-get($gradients, $name);
}

@mixin border-gradient($gradientName) {
    border-image: gradient($gradientName);
    border-image-slice: 1;
}

@mixin dashed-border-gradient($gradientName, $width) {
    border-image: gradient($gradientName);
    border-image-slice: 1;
    position: relative;

    &:before {
        content: ' ';
        background: red;
        position: absolute;
        top: 0;
        left: -$width;
        height: 100%;
        width: $width;
        display: block;
        background: linear-gradient(0deg, transparent, transparent 50%, $colour-black, $colour-black 100%);
background-size: $width 1em, 100% 3px;
        z-index: 0;
    }
}

@mixin round-border-gradient($gradientName) {
  @include circle;
  padding: 4px;
}

@mixin square-border-gradient($gradientName) {
  border: 4px solid transparent;
  border-image: gradient($gradientName);
  border-image-slice: 1;
}

@mixin bg-gradient($gradientName) {
  background-image: gradient($gradientName);
}

@mixin text-gradient($gradientName) {
  background-image: gradient($gradientName);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@mixin text-gradient-fade($gradientName) {
  @include text-gradient($gradientName);
  @include fade-animation();
}

@mixin bg-gradient-fade($gradientName) {
  @include bg-gradient($gradientName);
  @include fade-animation();
}

@mixin fade-animation() {
  background-size: 200% 200%;
  -webkit-animation: bgGradientFade 10s ease infinite;
  -moz-animation: bgGradientFade 10s ease infinite;
  animation: bgGradientFade 10s ease infinite;
}

@-webkit-keyframes bgGradientFade {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bgGradientFade {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bgGradientFade {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
