#error-page
  width: 50%
  margin: 0 auto
  h1
    font-size: 6vw
    line-height: 6vw
    margin-bottom: 2rem
    +text-gradient(rainbow)

article
  color: $colour-black
  background-color: $colour-white
  padding: 1em
  font-size: 1em
  section,p
    text-align: left

  h1
    margin-bottom: 1em

  h2
    &.title 
      font-weight: 800
      margin-bottom: 0.25em
      width: 100%

  .byline
    font-style: italic
    font-size: 1em !important
    padding-bottom: 1em
    border-bottom: 1px dotted colour(marine,trans)

  h2,h3,h4
    width: 100%
    margin-top: 1em
    margin-left: 0
    margin-bottom: 0.5em

  h2
    font-weight: 600
    &#notes
      margin-top: 2em
      padding-top: 2em
      border-top: 1px dotted colour(marine,trans)
  h3
    font-weight: 500
  h4
    font-weight: 400

  p, ol
    +breakpoint(medium)
      font-size: 1.3em !important

  p
    code
      font-size: 1.2em
      +breakpoint(medium)
        font-size: 0.85em
      padding: 0
      border: 0
      background: none
      color: $colour-olive

  ol
    li
      margin-top: 0 

  ol#footnotes
    li
      margin-top: 1em
      &.footnote
        margin-top: -3em
        padding-top: 5em

      span
        &.highlight
          +highlight

  a
    color: $colour-black
    font-weight: 500
    &:hover 
      +colour-highlight-shift
      font-weight: 500

    &.footnote
      color: $colour-olive
      font-weight: 500
      font-size: 0.63em
      vertical-align: super
      margin-top: -8em
      padding-top: 8em
      &::before
        content: "["
      &::after
        content: "]"

  #TableOfContents  
    margin-bottom: 3em
    ul,a
      color: $colour-black

  table
    margin-top: 1.5em
    tr
      td
        font-size: 0.9em
        +breakpoint(medium)
          font-size: 1.2em

        strong
          color: $colour-olive
          font-weight: 500
    thead
      th
        color: $colour-black

  pre
    background: none
    padding: 1em
    margin-bottom: 1em

    code
      color: $colour-olive
      background: transparent
      border: none

  span
    &.required
      &.bold
        font-weight: 500
        color: $colour-olive

ul#articles
  li
    a
      color: $colour-black
      font-weight: 500
      &:hover 
        +colour-highlight-shift
        font-weight: 500
     
    h2
      width: 100%
      font-weight: 800
