@import shapes
@import border-gradient

section
  padding: 1em
  margin-bottom: 3em
  max-width: 960px
  margin: 0 auto
  +breakpoint(medium)
    margin-bottom: 5em
  .title
    margin-bottom: 4em

  h2, h3, h4, h5
    margin: 0 auto
    width: 100%
    +breakpoint(medium)
      width: 65%
  p
    text-align: center
    width: 95%
  &#introduction
    margin-top: 2em
    h3
      margin-top: 2em
    p
      margin-top: 6em
    h5
      margin: 2em auto
    a
      color: $colour-red
      border-bottom: 3px dotted
      &:hover
        color: $colour-red
        border-bottom: 3px solid
    .mountains
      position: relative
      max-width: 1000px
      margin: 0 auto
      .cloud-1
        position: absolute
        top: 10%
        right: 30%
        width: 10%
      .cloud-2
        position: absolute
        top: 65%
        left: 27%
        width: 12%
      .fog
        position: absolute
        bottom: -5px
        left: 5px
        opacity: 0.95
      .fog-1
        position: absolute
        bottom: -5px
        left: -400px
        opacity: 0.8
      .fog-2
        position: absolute
        bottom: -5px
        left: -200px
        opacity: 0.7
  &#the-endian-way
    position: relative
    img
      position: absolute
      top: 100px
      right: 50%
      height: 500px
    ul
      padding-top: 82px
      margin-left: 100px
      margin-bottom: 5em
      li
        height: 185px
        &:nth-child(2)
          height: 200px
        h2
          text-align: left
        p
          margin-top: 10px
          text-align: left
          font-size: 0.9em
    +breakpoint(medium)
      img
        position: absolute
        top: 100px
        height: 1000px
      ul
        padding-top: 163px
        margin-left: 75px
        li
          height: 365px
          &:nth-child(2)
            height: 405px
          p
            margin-top: 20px
            margin-left: 100px
            text-align: left
            width: 75%
            font-size: 1.4em
  &#how-we-get-there
    max-width: 1500px
    p
      margin: 0 auto
    ul
      margin-top: 5vw
      text-align: center
      +xy-grid
      li
        padding-top: 35%
        padding-bottom: 35%
        img
          position: absolute
          left: 0
          top: 0
        +xy-cell(12)
        +breakpoint(xlarge)
          +xy-cell(6)
          padding-top: 17%
          padding-bottom: 6vw
  &#what-we-do
    padding-left: 0
    padding-right: 0
    max-width: 100%
    h4
      +breakpoint(medium)
        width: 60%
      margin: 2em auto
    ul
      li
        +xy-grid
        img
          +xy-cell(12)
          +breakpoint(medium)
            +xy-cell(3)
        .description
          +xy-cell(12)
          +breakpoint(medium)
            +xy-cell(8)
            +xy-cell-offset(1)
        +chevron(gradient("hot"))
        &:nth-child(2)
          +chevron(gradient("warm"))
        &:nth-child(3)
          +chevron(gradient("chill"))
        &:nth-child(4)
          +chevron(gradient("cold"))
          margin-bottom: 0 !important
        h3
          margin: 1em 0
          text-align: center

          +breakpoint(medium)
            text-align: left
        p
          text-align: center
          +breakpoint(medium)
            text-align: left

  &#who-weve-helped
    .row1, .row2
      img
        +bg-gradient(cold)
        box-shadow: inset 5px 5px #000000, inset -5px -5px #000000
        margin: 20px
        &:nth-child(2)
          +bg-gradient(chill)
        &:nth-child(3)
          +bg-gradient(mid)
        &:nth-child(4)
          +bg-gradient(warm)
        &:nth-child(5)
          +bg-gradient(hot)
    .row1
      img
        +xy-cell(12)
        +breakpoint(large)
          +xy-cell(4)
    .row2
      img
        +xy-cell(6)
        +breakpoint(large)
          +xy-cell(1 of 5)
    ul
      +xy-grid
      li
        +square-border
        +xy-grid
        +xy-cell(12)
        +breakpoint(large)
          +xy-cell(6)
        margin-bottom: 4em
        padding: 2em
        img
          +xy-cell(12)
          +breakpoint(large)
            +xy-cell(4)
        .company
          +xy-cell(12)
          +breakpoint(large)
            +xy-cell(8)
  &#meet-the-sherpas
    ul
      margin-top: 4em
      +xy-grid
      li img.headshot
        border-radius: 100%
      li:nth-child(1) img.headshot
        +bg-gradient(hot)
        +border-gradient(hot)
      li:nth-child(2) img.headshot
        +bg-gradient(warm)
        +border-gradient(warm)
      li:nth-child(3) img.headshot
        +bg-gradient(chill)
        +border-gradient(chill)
      li:nth-child(4) img.headshot
        +bg-gradient(cold)
        +border-gradient(cold)
      li
        margin-bottom: 2em
        h4
          margin-top: 2em
        +xy-cell(12)
        +breakpoint(medium)
          +xy-cell(6)
        +breakpoint(xlarge)
          +xy-cell(3)
        a img
          width: 25%
          margin-top: 2em
  &#say-hi
    +border-gradient(rainbow)
    +breakpoint(medium)
      width: 50%
      margin: 2em auto
    padding: 5%
    margin-bottom: 2em
    a
      color: white
      border: none
      font-size: 2em
      &:hover
        color: white
        border: none
