@import shapes
@import gradients

section
  padding: 1em
  margin-bottom: 3em
  max-width: 960px
  margin: 0 auto
  +breakpoint(medium)
    margin-bottom: 5em
  .title
    margin-bottom: 4em

  h2, h3, h4, h5
    margin: 0 auto
    width: 100%
    +breakpoint(medium)
      width: 65%
  p
    text-align: center
    width: 95%
  &#introduction
    margin-top: 2em
    h1
      font-size: 3rem
      line-height: 3rem
    h3
      margin-top: 2rem
      line-height: 2.5rem
    p
      margin-top: 4em
    h5
      margin: 2em auto
      margin-top: 2rem
    a
      color: $colour-red
      border-bottom: 3px dotted
      &:hover
        color: $colour-red
        border-bottom: 3px solid
    .mountains
      position: relative
      max-width: 1000px
      margin: 0 auto
      .cloud-1
        position: absolute
        top: 10%
        right: 30%
        width: 10%
      .cloud-2
        position: absolute
        top: 65%
        left: 27%
        width: 12%
      .fog
        position: absolute
        bottom: -5px
        left: 5px
      .fog-1
        position: absolute
        bottom: -5px
        left: -400px
        opacity: 0.8
      .fog-2
        position: absolute
        bottom: -5px
        left: -200px
        opacity: 0.7
  &#the-endian-way
    position: relative
    img
      position: absolute
      top: 6rem
      right: 50%
      width: 45%
    h2
      text-align: left
    p
      text-align: left
      line-height: 1.2rem
      padding-top: 1rem
    ul
      margin-top: 32.5%
      margin-left: 25%
      margin-bottom: 5em
      li
        height: 41vw
        &:nth-child(2)
          height: 46vw
    +breakpoint(medium)
      img
        position: absolute
        top: 6rem
        right: 50%
        width: 45%
      h2
        text-align: left
      p
        line-height: normal
        text-align: left
        width: 70%
        margin-left: 17%
        padding-top: 2rem
      ul
        margin-top: 26%
        margin-left: 5%
        margin-bottom: 5em
        li
          height: 40.5vw
          max-height: 386px
          &:nth-child(2)
            height: 45.5vw
            max-height: 435px


  &#how-we-get-there
    max-width: 1500px
    p
      margin: 2rem auto
    ul
      +xy-grid
      text-align: center
      img
        border-radius: 100%
        border-width: 5px
        width: 50%
        margin-top: -35%
      .planning
        margin-top: 5rem
        +breakpoint(medium)
          margin-top: 15rem
        +border-gradient(hotHalf)
        img
          +border-gradient(hot)
          +bg-gradient(hot)
        +breakpoint(large)
          +xy-cell(5)
          +xy-cell-offset(1)
      .implementation
        margin-top: 5rem
        +breakpoint(medium)
          margin-top: 15rem
        +border-gradient(coldHalf)
        img
          +border-gradient(chill)
          +bg-gradient(chill)
        +breakpoint(large)
          +xy-cell(5)
      li
        padding: 2em
        margin-bottom: 2rem
        +xy-cell(12)

  &#what-we-do
    padding-left: 0
    padding-right: 0
    max-width: 100%
    h4
      +breakpoint(medium)
        width: 60%
      margin: 2em auto
    ul
      li
        +xy-grid
        img
          +xy-cell(12)
          +breakpoint(medium)
            +xy-cell(3)
          +breakpoint(xlarge)
            +xy-cell(2)
            +xy-cell-offset(2)
        .description
          +xy-cell(12)
          +breakpoint(medium)
            +xy-cell(8)
            +xy-cell-offset(1)
          +breakpoint(xlarge)
            +xy-cell(6)
        +chevron(gradient("hot"))
        &:nth-child(2)
          +chevron(gradient("warm"))
        &:nth-child(3)
          +chevron(gradient("chill"))
        &:nth-child(4)
          +chevron(gradient("cold"))
          margin-bottom: 0 !important
        h3
          margin: 1em 0
          text-align: center

          +breakpoint(medium)
            text-align: left
        p
          text-align: center
          +breakpoint(medium)
            text-align: left
            min-height: 18vh

  &#who-weve-helped
    padding: 0
    .container
      +bg-gradient(rainbow)
      +breakpoint(medium)
        box-shadow: inset 6.7vw 5px $colour-black, inset -6.7vw -5px $colour-black
      +breakpoint(large)
        box-shadow: inset 40px 5px $colour-black, inset -40px -5px $colour-black
      img
        margin: -0.1rem
        border: 10px solid $colour-black
        box-shadow: inset 5px 5px $colour-black, inset -5px -5px $colour-black
        +breakpoint(medium)
          display: inline
      .row1
        img
          +breakpoint(medium)
            height: 12.5vw
          +breakpoint(large)
            height: 7.5rem
      .row2
        img
          +breakpoint(medium)
            height: 16.2vw
          +breakpoint(large)
            height: 10.5rem
    ul
      +xy-grid
      li
        +xy-grid
        +xy-cell(12)
        +breakpoint(large)
          +xy-cell(6)
        margin-bottom: 4em
        padding: 2em
        img
          +xy-cell(12)
          +breakpoint(large)
            +xy-cell(4)
        .company
          +xy-cell(12)
          +breakpoint(large)
            +xy-cell(8)
  &#meet-the-sherpas
    ul
      margin-top: 4em
      +xy-grid
      li img.headshot
        border-radius: 100%
      li:nth-child(1) img.headshot
        +bg-gradient(hot)
        +border-gradient(hot)
      li:nth-child(2) img.headshot
        +bg-gradient(warm)
        +border-gradient(warm)
      li:nth-child(3) img.headshot
        +bg-gradient(chill)
        +border-gradient(chill)
      li:nth-child(4) img.headshot
        +bg-gradient(cold)
        +border-gradient(cold)
      li
        margin-bottom: 2em
        .text
          min-height: 5vw
          h4
            width: 100%
            margin-top: 2em
          h5
            width: 100%
        +xy-cell(12)
        +breakpoint(medium)
          +xy-cell(6)
        +breakpoint(xlarge)
          +xy-cell(3)
        a img
          width: 25%
          margin-top: 2em
  &#say-hi
    +border-gradient(rainbow)
    margin: 2em auto
    padding: 2em
    +breakpoint(medium)
      width: 30rem
    h1, span
      width: 50%
      margin: 0 auto
    span
      font-size: 2em
      +colour-highlight-shift
