// Animated on Scroll
@import aos

// Foundation
@import foundation_settings
@import foundation
+foundation-global-styles
+foundation-typography

@import typography
@import sections
@import pages
@import slaask

body
  +xy-grid
  text-align: center
  overflow-x: hidden

ul
  margin-left: 0
  li
    list-style-type: none

.container
  width: 100%

header
  +xy-cell(12)
  padding: 1em
  text-align: left
  +breakpoint(medium)
    text-align: center
    margin: 3em auto
  img
    height: 2em
    margin-top: -0.4em
    margin-right: 0.5em
  h1
    display: inline
    font-size: 1.5em
    font-weight: 700

footer
  +xy-cell(12)
