// Animated on Scroll
@import aos

// Foundation
@import foundation_settings
@import foundation
+foundation-global-styles
+foundation-typography

@import typography
@import sections

body
  +xy-grid
  text-align: center
  overflow-x: hidden

ul
  margin-left: 0
  li
    list-style-type: none

.container
  width: 100%

header
  +xy-cell(12)
  padding: 1em
  text-align: left
  +breakpoint(medium)
    text-align: center
    margin: 3em auto
  img
    height: 50px
    margin-top: -5px
    margin-right: 0.5em
    +breakpoint(medium)
      height: 75px
      margin-top: -17px
      margin-right: 1em
  h1
    display: inline
    font-weight: 700

main

footer
  +xy-cell(12)
